@charset "utf-8";
/* Storm Creative Test */



body {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

input {
	width: 250px;
	padding: 5px;
	background: #555F5D;
	color: #fff;
	border: 1px solid #848181;
}

.header {
	background: url("../img/bg-stormtest.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 1200px;
	width: 100%;
}

.header h1 {
	padding-top: 20px;
	vertical-align: middle;
	text-align: center;
}

.btn {
	display: block;
	background: #E44C40;
	color: #FFF;
	text-decoration: none;
	font-size: 18px;
	margin: 5px auto;
	width: 72px;
	padding: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.reg-btn {
	display: block;
	background: #2BB799;
	color: #FFF;
	text-decoration: none;
	font-size: 14px;
	margin: 5px auto;
	width: auto;
	padding: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: none;
}

a.close {
	float: right;
	background: rgb(204,204,204);
	color: #000;
	border-radius: 100%;
	font-size: 14px;
	width: 20px;
	height: 20px;
	text-align: center;
}

.register-wrapper {
	width: 300px;
	padding: 10px;
	margin: 0px auto;
	background: #E44C40;
}

label {
	display: block;
	padding: 10px;
}