/* Retina display */
/* Desktop */
/* Tablet */
/* Mobile HD */
/* Mobile LD */
@media screen and (min-width: 1024px),
@media screen and (min-width: 980px) and (max-width: 1024px),
@media screen and (min-width: 760px) and (max-width: 980px),
@media screen and (min-width: 350px) and (max-width: 760px),
@media screen and (max-width: 350px)
{
    .header {
        background-image: url('../img/bg-stormtest.jpg') no-repeat;
		background-size: 100% 100%;
    }
}
